* {
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary: rgb(150, 0, 0);
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(0, 0, 0);

    --blue: rgb(0, 0, 255);

    --primary-bg: rgb(255, 255, 255);
}

/* Header Navigation */
.header-container {
    place-items: center;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./Images/Intro-bg.jpg");
}

.header-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vh 0;
    font-size: 1rem;
}

a .header-logo-container {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/portfolio/Images/MBlack60.png');
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--tertiary);
    transition: all 0.6s ease-in-out;
}

a:hover .header-logo-container {
    transform: scale(1.1);
    background-image: url('/portfolio/Images/MWhite60.png');
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--tertiary);
    transition: all 0.6s ease-in-out;
}

.header-navigation-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.header-navigation-bar-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header-navigation-bar-container ul li {
    margin: 0 1rem;
}

.header-navigation-bar-container ul li a {
    display: block;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--tertiary);
    transition: all 0.6s ease-in-out;
}

.header-navigation-bar-container ul li a:hover {
    transform: scale(1.1);
    letter-spacing: 3px;
    color: var(--secondary);
    background-color: var(--primary);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: all 0.6s ease-in-out;
}

@media (max-width: 768px) {
    .header-sub-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-navigation-bar-container ul {
        flex-direction: column;
    }

    .header-navigation-bar-container ul li {
        margin: 0.5rem 0
    }

    a .header-logo-container {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 480px) {
    .header-navigation-bar-container ul li a {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }
}

/* Header Introduction */
.header-intro-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vh 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.header-intro-logo-container {
    height: 360px;
    width: 360px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/portfolio/Images/M.png');
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--tertiary);
}

.header-intro-description-container {
    padding: 0 2vw;
}

.header-intro-description-container .name, .css {
    text-align: center;
}

.header-intro-description-container .sm {
    text-align: end;
}

.header-intro-description-container a {
    color: var(--blue);
    letter-spacing: 1px;
    transition: all 0.6s ease-in-out;
}

.header-intro-description-container a:hover {
    letter-spacing: 2px;
    transition: all 0.6s ease-in-out;
}


@media (max-width: 768px) {
    .header-intro-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1rem;
    }

    .header-intro-logo-container {
        height: 160px;
        width: 160px;
        border-radius: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/portfolio/Images/M.png');
        background-color: var(--secondary);
        box-shadow: 0 0 10px var(--tertiary);
    }

    .header-intro-description-container {
        padding: 2vh 0;
    }
    
    .header-intro-description-container .name, .css {
        text-align: center;
    }

    .header-intro-description-container .sm {
        text-align: center;
    }
}
